.img-circle {
    border-radius: 100%;
    width: 150px;
    border: white;
}

.avatar_mask {
    width: 160px;
    height: 60px;
    overflow: hidden;
    margin-right: 0px;
}

.avatar_mask img {
    height: 50px;
}

.text-platzi {
    color: white !important;
}

.btn-platzi {
    background-color: #97c93e;
    color: white;
}

.btn-platzi:hover {
    background-color: #82ad36;
}

#header {
    background-color: #000000;
    height: 80px;
}

#header img {
    width: 160px;
}

#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

.blank {
    color: white;
}

#estudios {
    background-color: #343a40;
    color: white;
}

#estudios img {
    max-width: 100%;
}

#footer {
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

#footer a {
    color: white;
}

.titulo {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #343a40;
    color: white;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.redes-sociales a:first-child {
    width: 120px;
    height: 120px;
    margin-left: 10px;
    background-image: url('./assets/images/fb.png');
    background-size: 120px 120px;
}

.redes-sociales a:nth-child(2) {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    background-image: url('./assets/images/linkedin.png');
    background-size: 150px 150px;
}

.redes-sociales a:nth-child(3) {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    background-image: url('./assets/images/git.png');
    background-size: 150px 150px;
}

footer {
    padding-left: 560px;
    background-color: #02051f;
    color: #e3eaff;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 400px;
    width: 1519.2px;
    align-items: center;
    line-height: 1em;
    letter-spacing: 0.1px;
}

footer div {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}